/* Polices */
@font-face {
    font-family: 'Raleway_Medium';
    src: url('police/Raleway_Medium.ttf') format('truetype');
}

/* Body */

#bloc_page {
    width: 992px;
}


/* Header */

/* Navigation */

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Section 1 */

#section1 {
    display: flex;
    background-color: #F2F2F2;
}

#p_hebergements {}

#p_activites {}

/* Aside */

aside {
    background-color: #F2F2F2;
}

/* Section 2*/

/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    margin-left: -7px;
    margin-right: -7px;
}

footer ul {
    font-size: 12px;
    list-style-type: none;
}

footer h1 {
    font-size: 15px;
    font-weight: bold;
    margin-left: 39px
}

footer a {
    text-decoration: none;
    color: black;
}

#a_propos {
    width: 33%;
}

#nos_hebergements {
    width: 33%;
}

#assistance {
    width: 33%;
}